[worldserver]
###########################################################################
# Assistant NPC
###########################################################################
# Obtain heirlooms from the assistant npc
Assistant.Heirlooms = 0

# Obtain glyphs from the assistant npc
Assistant.Glyphs = 0

# Obtain gems from the assistant npc
Assistant.Gems = 0

# Obtain containers from the assistant npc
Assistant.Containers = 0

# Obtain utilties from the assistant npc
Assistant.Utilities = 0

# The amount of gold required to perform a name change
Assistant.Utilities.NameChange = 10

# The amount of gold required to perform a change in appearance
Assistant.Utilities.Customization = 50

# The amount of gold required to perform a race change
Assistant.Utilities.RaceChange = 500

# The amount of gold required to perform a faction change
Assistant.Utilities.FactionChange = 1000

# Obtain shaman totems from the assistant npc
Assistant.Totems = 0
###########################################################################
