[worldserver]
###########################################################################
# Assistant NPC
###########################################################################
# Obtain heirlooms from the assistant npc
Assistant.Gossip.Heirlooms = 0

# Obtain glyphs from the assistant npc
Assistant.Gossip.Glyphs = 0

# Obtain gems from the assistant npc
Assistant.Gossip.Gems = 0

# Obtain containers from the assistant npc
Assistant.Gossip.Containers = 0

# Obtain utilties from the assistant npc
Assistant.Gossip.Utilities = 0

# The amount of gold required to perform a name change
Assistant.Gossip.Utilities.NameChange = 10

# The amount of gold required to perform a change in appearance
Assistant.Gossip.Utilities.Customization = 50

# The amount of gold required to perform a race change
Assistant.Gossip.Utilities.RaceChange = 500

# The amount of gold required to perform a faction change
Assistant.Gossip.Utilities.FactionChange = 1000
###########################################################################

###########################################################################
# Learning spells and skills
###########################################################################
# Learn spells when entering the world or leveling up
Assistant.Spells.Enabled = 0

# Learn spells when entering the world
Assistant.Spells.OnLogin = 0

# Learn spells when leveling up
Assistant.Spells.OnLevelUp = 0

# Learn class-specific spells
Assistant.Spells.Class = 0

# Learn ranks of known talents
Assistant.Spells.Talent = 0

# Learn weapon and defense skills
Assistant.Spells.Proficiency = 0

# Learn spells obtained through quests
Assistant.Spells.Quest = 0

# Set a players weapon skills to their max value
Assistant.Spells.MaxSkill.Enabled = 0

# Max level where a player gets their skills maxed out
Assistant.Spells.MaxSkill.MaxLevel = 60

# Learn riding and mount spells
Assistant.Spells.Riding.Enabled = 0

# Learn apprentice (75%) riding and mount spells
Assistant.Spells.Riding.Apprentice = 0

# Learn journeyman (150%) riding and mount spells
Assistant.Spells.Riding.Journeyman = 0

# Learn expert (225%) riding and mount spells
Assistant.Spells.Riding.Expert = 0

# Learn artisan (300%) riding and mount spells
Assistant.Spells.Riding.Artisan = 0

# Learn cold weather flying at level 77
Assistant.Spells.Riding.ColdWeather = 0
###########################################################################

###########################################################################
# Set spawn point of new characters
###########################################################################
# Set spawn point to locations specified in the database table
Assistant.SpawnPoint.Enabled = 0

# Set spawn point for death knight
Assistant.SpawnPoint.DeathKnight = 0
###########################################################################

###########################################################################
# Weekend rates
###########################################################################
# Double the experience and reputation on friday, saturday and sunday
Assistant.Rate.Weekend.Enabled = 0
###########################################################################

###########################################################################
# Activate zones
###########################################################################
# Set all creatures in zones that have players to active
# Only affect Eastern Kingdoms, Kalimdor, Outland and Northrend
Assistant.Zone.Activate = 0
###########################################################################
