[worldserver]

### VENDORS ###
# Obtain heirlooms from the assistant npc
Assistant.Heirlooms = 0

# Obtain glyphs from the assistant npc
Assistant.Glyphs = 0

# Obtain gems from the assistant npc
Assistant.Gems = 0

# Obtain containers from the assistant npc
Assistant.Containers = 0
###

### UTILTIIES ###
# Obtain utilties from the assistant npc
Assistant.Utilities = 0

# The amount of gold required to perform a name change
Assistant.Utilities.NameChange = 10

# The amount of gold required to perform a change in appearance
Assistant.Utilities.Customization = 50

# The amount of gold required to perform a race change
Assistant.Utilities.RaceChange = 500

# The amount of gold required to perform a faction change
Assistant.Utilities.FactionChange = 1000
###

### PROFESSIONS ###
# Enable the professions feature
Assistant.Professions.Enabled = 0

# Allow setting a profession of the apprentice rank to skill level 75
Assistant.Professions.Apprentice.Enabled = 0

# The cost in gold to increase the skill level of the apprentice rank
Assistant.Professions.Apprentice.Cost = 10

# Allow setting a profession of the journeyman rank to skill level 150
Assistant.Professions.Journeyman.Enabled = 0

# The cost in gold to increase the skill level of the journeyman rank
Assistant.Professions.Journeyman.Cost = 25

# Allow setting a profession of the expert rank to skill level 225
Assistant.Professions.Expert.Enabled = 0

# The cost in gold to increase the skill level of the expert rank
Assistant.Professions.Expert.Cost = 45

# Allow setting a profession of the artisan rank to skill level 300
Assistant.Professions.Artisan.Enabled = 0

# The cost in gold to increase the skill level of the artisan rank
Assistant.Professions.Artisan.Cost = 100

# Allow setting a profession of the master rank to skill level 375
Assistant.Professions.Master.Enabled = 0

# The cost in gold to increase the skill level of the master rank
Assistant.Professions.Master.Cost = 200

# Allow setting a profession of the grand master rank to skill level 450
Assistant.Professions.GrandMaster.Enabled = 0

# The cost in gold to increase the skill level of the grand master rank
Assistant.Professions.GrandMaster.Cost = 500
###
